<div fullpage id="fullpage2" [options]="config" (ref)="getRef($event)">
  <div class="section" style="background-image: url('https://cdn-images-1.medium.com/max/800/1*P1xMsTVcfWxQ7yLSQOVrfQ.png');"><h1>Section 1</h1></div>
  <div class="section"><h1>Section 2</h1></div>
  <div class="section">
    <div class="slide" style="background-image: url('https://git.inovatel.com/SUN/parent/uploads/33daa20aa7cb490fa1fd52e038c210cc/image.png');"><h1>Slide 2.1</h1></div>
    <div class="slide" style="background-image: url('https://git.inovatel.com/SUN/parent/uploads/a0a8b885084fbfb9aa6ec8d53677c204/image.png');"><h1>Slide 3.2</h1></div>
    <div class="slide" style="background-image: url('https://images.wallpaperscraft.com/image/astronaut_spacesuit_butterflies_121755_1920x1080.jpg');"><h1>Slide 3.3</h1></div>
  </div>
  <div class="section" style="background-image: url('https://cdn-images-1.medium.com/max/800/1*fLvLBaoQ4FIt7xf5bY8CBg.png');"><h1>Section 4</h1></div>
</div>
