<div fullpage id="fullpage2" [options]="config" (ref)="getRef($event)">

  <!--Coucou Lolo-->
  <div class="section">
    <h1 class="section-font high light">Coucou Lolo</h1>
  </div>

  <!--C'est l'heure de notre weekend secret-->
  <div class="section">
    <h1 class="section-font high light" style="font-family: 'Amatic SC', cursive">C'est l'heure de notre weekend secret</h1>
  </div>

  <!--Tu te demandes sûrement ce qu'on va faire ...-->
  <div class="section">
    <h1 class="section-font top light">Tu te demandes sûrement ce qu'on va faire ...</h1>
  </div>

  <!--Pour commencer-->
  <div class="section">
    <h1 class="third-font light" style="color: brown;font-size: 1.3em;">Pour commencer</h1>
  </div>

  <!--Je t'aime-->
  <div class="section">
    <h1 class="section-icon">Je t'aime</h1>
    <img src="../../../assets/images/heart-icon.png" height="200px">
  </div>

  <!--Je veux te rendre heureuse-->
  <div class="section" style="background-color: rgb(190, 123, 123)">
    <h1 class="section-font high light" style="color: cornsilk;">Je veux te rendre heureuse</h1>
  </div>

  <div class="section image">
    <!--Alors j'ai décidé-->
    <div class="slide" style="background-color: rgb(143, 190, 123)">
      <h1 class="section-font top">Alors j'ai décidé</h1>
    </div>
    <!--pour ton anniversaire-->
    <div class="slide" style="background-color: rgb(158,206,138)">
      <h1 class="section-font high">pour tes 21 ans</h1>
    </div>
    <!--de t'emmener-->
    <div class="slide" style="background-color: rgb(166,215,146)">
      <h1 class="section-font low">de t'emmener</h1>
    </div>
    <!--à-->
    <div class="slide" style="background-color: rgb(182,232,162)">
      <h1 class="section-font bottom">à</h1>
    </div>
    <!--LONDRES-->
    <div class="slide image" style="background-image: url('../../../assets/images/london.jpg');">
      <h1 class="big-font high">LONDRES</h1>
    </div>
  </div>

  <div class="section image">
    <!--Tout (avion)-->
    <div class="slide image" style="background-image: url('../../../assets/images/727260.jpg');">
      <h1 class="section-font">Tout</h1>
    </div>
    <!--est (london night)-->
    <div class="slide image" style="background-image: url('../../../assets/images/london night.jpg');">
      <h1 class="section-font high light">est</h1>
    </div>
    <!--déjà (metro)-->
    <div class="slide image" style="background-image: url('../../../assets/images/underground-ConvertImage.jpg');">
      <h1 class="section-font light top">déjà</h1>
    </div>
    <!--réservé (hotel)-->
    <div class="slide image" style="background-image: url('../../../assets/images/hotel-crop.jpg');">
      <h1 class="section-font low" style="color: lightslategray;">réservé</h1>
    </div>
  </div>

  <!--J'ai prévu plein de trucs-->
  <div class="section" style="background-color: antiquewhite;">
    <h1 class="third-font high" style="color: chocolate;">J'ai prévu plein de trucs</h1>
  </div>

  <!--(cabine)-->
  <div class="section image" style="background-image: url('../../../assets/images/london cabine.jpg');">
  </div>

  <!--(resto)-->
  <div class="section image" style="background-image: url('../../../assets/images/sushisamba.jpg');">
  </div>

  <!--(breakfast)-->
  <div class="section image" style="background-image: url('../../../assets/images/breakfast.jpg');">
  </div>

  <!--(piccadilly)-->
  <div class="section image" style="background-image: url('../../../assets/images/piccadilly2.jpg');">
  </div>

  <!--(bus 2 étages)-->
  <div class="section image" style="background-image: url('../../../assets/images/london2.jpg');">
  </div>

  <!--(notting hill)-->
  <div class="section image" style="background-image: url('../../../assets/images/notting hill.jpg');">
  </div>

  <!--(kyoto garden)-->
  <div class="section image" style="background-image: url('../../../assets/images/kyoto garden.jpg');">
  </div>

  <!--J'espère que t'es contente-->
  <div class="section">
    <h1 class="third-font top light" style="font-size: 0.6em;top: 25%;color: black;">J'espère que ça te plaira</h1>
    <iframe src="https://giphy.com/embed/64UGDnVuQgniXtZVZq" width="375" height="211" frameBorder="0" class="giphy-embed" allowFullScreen style="margin-bottom: 38px"></iframe>
    <iframe src="https://giphy.com/embed/5qFZ8LpcU08BHW7qsc" width="375" height="306" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <iframe src="https://giphy.com/embed/xUA7aP05OSTwjR51Ic" width="375" height="208" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </div>

  <!--Joyeux anniversaire-->
  <div class="section image" style="background-image: url('../../../assets/images/birthday-cake-balloons-celebration-candy-dessert.jpg');">
    <h1 class="section-font high light" style="font-size: 1.7em;top: 25%;background-color: #00000029;">Joyeux anniversaire</h1>
    <img src="../../../assets/images/donation.png" height="200px" style="position: absolute; right: 0; bottom: 30px">
  </div>

  <!--Je t'aime-->
  <div class="section image" style="background-image: url('../../../assets/images/love.jpg');">
    <h1 class="section-font high light">Je t'aime</h1>
  </div>

  <!--(gateau pat patrouille)-->
  <div class="section image" style="background-image: url('../../../assets/images/pawpatrol.jpg');">
  </div>
</div>
