.section {
  text-align:center;
  font-size: 3em;
}

.image {
  background-size: cover;
}

.font {
  font-family: 'Dancing Script', cursive;
  font-weight: 100;
  color: aliceblue;
  position: absolute;
  left: 0;
  right: 0;
}

.high {
  top: 16%;
}

.low {
  bottom: 16%;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}
