.section {
  text-align:center;
  font-size: 3em;
}

.image {
  background-size: cover;
}

.section-icon {
  font-family: 'Dancing Script', cursive;
  color: aliceblue;
  width: 375px;
}

.section-font {
  font-family: 'Dancing Script', cursive;
  color: aliceblue;
  position: absolute;
  width: 375px;
}

.big-font {
  font-family: 'Sigmar One', cursive;
  color: aliceblue;
  font-size: 1.4em;
  position: absolute;
  width: 375px;
}

.third-font {
  font-family: 'Carter One', cursive;
  color: aliceblue;
  font-size: 1.4em;
  position: absolute;
  width: 375px;
}

.light {
  font-weight: 100;
}

.top {
  top: 0;
}

.high {
  top: 16%;
}

.low {
  bottom: 16%;
}

.bottom {
  bottom: 0;
}
