<div fullpage id="fullpage2" [options]="config" (ref)="getRef($event)">
  <div class="section image" style="background-image: url('../../../assets/images/london.jpg');"><h1 class="font high">Section 1</h1></div>
  <div class="section image" style="background-image: url('../../../assets/images/cake.jpg');vertical-align: top !important;"><h1 class="font low">Section 2</h1></div>
  <div class="section image">
    <div class="slide image" style="background-image: url('../../../assets/images/pawpatrol.jpg');"><h1>Slide 2.1</h1></div>
    <div class="slide image" style="background-image: url('../../../assets/images/727260.jpg');"><h1>Slide 3.2</h1></div>
    <div class="slide image" style="background-image: url('../../../assets/images/london2.jpg');"><h1>Slide 3.3</h1></div>
  </div>
  <div class="section image" style="background-image: url('../../../assets/images/birthday-cake-balloons-celebration-candy-dessert.jpg');"><h1 class="font high">Section 4</h1></div>
</div>
